*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}   
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav,footer,header,aside{display: block;}

html, body {        
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input, button, textarea {font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h3,h4,h5,h5,h6{font-size: inherit;font-weight: 400;}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.conteiner {
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 20px;
}

.notFound{
    max-width: 720px;
    font-size: 20px;
    font-family: Poppins;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-family: Poppins;
    font-size: 54px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    max-width: 463px;
}
.text {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(192, 192, 192, 1);
    max-width: 580px;
}
.underTitle {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(192, 192, 192, 1);        
}
.button{
    font-family: Poppins;
    border-radius: 14px;
    background-color: white;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inButton {
    width: 32px;
    height: 32px;
    border-radius: 11px;
    background-color: black;
    margin-right: 6px;
    margin-left: 4px;
}
.infoRow {
    display: flex;
    align-items: start;
    justify-content: end;
}
.infoRow___Img {
    margin-left: 16px;
    margin-right: 5px;
}
.infoRow__text {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: white;        
}
.header {
    background-color: rgba(24, 24, 24, 1);
    min-height: 90px;
    width: 100%;
    .header__row {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header__logo {
            width: 128px;
            height: 31px;
        }
        .header__right {
            display: flex;
            justify-content: space-between;
            font-family: Poppins;
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;   
            align-items: center;
            width: 680px;       
        }
        .header__list{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 494px;
        }
        .header__burger{
            display: none;
        }
        .header__link {
            color: white
        }
        
        .header__button {
            width: 155px;
            height: 42px;
            border-radius: 14px;
            background-color: white;
            text-align: center;
            line-height: 20px;
        }
    }
}

.firstImg{
    width: 100%;
    min-height: 716px;
    background-image: url("./img/firstImg.png");
    background-position: center;
    background-size: cover;
    .undertitle {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 2px;
        text-align: center;
        color: rgba(192, 192, 192, 1);
        width: 263px;
    }
    .undertitle_firstImg {
        text-transform: uppercase;
        margin: 0 auto;
        margin-top: 466px;
        margin-bottom: 1px;
    }
    
    .title_firstImg {
        margin: 0 auto;
        margin-bottom: 18px;
    }
    
    .text_firstImg {
        margin: 0 auto;
        margin-bottom: 13px;
    }

    
    .infoRow_firstImg{
        margin-bottom: 41px;
        margin-right: 2%;
    }
    
    
}
.secondImg{
    padding-top: 112px;
    min-height: 1558px;
    background-color: black;
    .title_secondImg{
        font-size: 40px;
        line-height: 42px;
        margin: 0 auto;
        margin-bottom: 15px;
        color: white;
    }
    
    .underTitle_secondImg {
        margin: 0 auto;
        margin-bottom: 42px;
    }
    .photoGrid {
        padding: 0 16px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }
    .photoGrid__element {
        position: relative;
        width: 576px;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: end;
    }
    .photoGrid__img{
        width: 100%;
        height: 100%;
    }
    .photoGrid__text{
        position: absolute;
        width: 576px;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: end;
        padding-left: 30px;
        padding-bottom: 30px;
    }
    
    .text_gridUp {
        text-transform: uppercase;
        color: white;
        margin-bottom: 10px;
    }
    .text_gridDown {
        max-width: 501px;
        min-height: 60px;
        color: rgba(192, 192, 192, 1);
        text-align: left;
        margin-bottom: 20px;
    }
    
    .button_secondImg {
        width: 143px;
        height: 42px;
        flex-direction: row-reverse;
        .inButton{
            width: 32px;
            height: 32px;
            border-radius: 11px;
            background-color: black;
            margin-right: 6px;
        }
    }
}
.thirdImg{
    position: relative;
    width: 100%;
    min-height: 600px;
    background-image: url("./img/thirdImg.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 260px;
    .thirdImg__wrapper{
        position: absolute;
        right: 4.3%;
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 298px;
        .text_thirdImgUp{
            text-transform: uppercase;
            color: white;
            width: 206px;
            height: 20px;
            text-align: left;
        }
        .text_thirdImgDown{
            width: 298px;
            height: 60px;
            text-align: left;
        }
        
    }
    .infoRow_thirdImg{
        margin-top: 284px;
        margin-bottom: 41px;
        margin-right: 2%;
    }
}
.fourthImg {
    display: flex;
    min-height: 540px;
    .foutrthImg__column {
        width: 100%;
        background-color: black;
        padding-left: 100px;
        padding-right: 10px;
        padding-top: 173px;
    }
    .fourthImg__img {
        padding-top: 483px;
        width: 100%;
        background-image: url("./img/camers.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        .infoRow_fourthImg{
            margin-bottom: 40px;
            margin-right: 4%;
        }
    }
   .underTitle_fourthImg{
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 2px;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 6px;
   }
   .title_fourthImg{
        font-family: Poppins;
        font-size: 28px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        color: white;
        margin-bottom: 14px;
    
   }
   .text_fourthImg{
        text-align: left;
        color: white;
        max-width: 514px;
        margin-bottom: 20px;
   }
   .button_fourthImg {
        justify-content: start;
        width: 152px;
        height: 42px;
        flex-direction: row-reverse;
    
    
    }
}
.fifthImg{
    position: relative;
    width: 100%;
    min-height: 600px;
    background-image: url("./img/fifthImg.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 260px;
    padding-left: 20px;
    padding-right: 20px;

    .fifthImg__wrapper{
        position: absolute;
        right: 4.3%;
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 298px;
        .text_fifthImgUp{
            text-transform: uppercase;
            color: white;
            max-width: 206px;
            min-height: 20px;
            text-align: left;
        }
        .text_fifthImgDown{
            max-width: 276px;
            min-height: 87px;
            text-align: left;
        }
        
    }
    .infoRow_fifthImg{
        margin-top: 284px;
        margin-bottom: 41px;
        margin-right: 2%;
    }
}
.sixthImg{
    width: 100%;
    min-height: 500px;
    background-color: black;
    padding-top: 113px;
    .title_sixthImg{
        margin: 0 auto;
        margin-bottom: 15px;
        min-height: 42px;
    }
    .underTitle_sixthImg{
        margin: 0 auto;
        min-height: 30px;
        max-width: 441px;
        margin-bottom: 38px;
    }
    .clientRow{
        width: 100%;
        min-height: 98px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .clientRow__list {
        width: 128px;

    }
    .client {
        display: block;
        width: 128px;
        height: 100%;
    }
}
.seventhImg{
    position: relative;
    width: 100%;
    min-height: 600px;
    background-image: url("./img/seventhImg.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 260px;
    padding-left: 20px;
    padding-right: 20px;

    .seventhImg__wrapper{
        position: absolute;
        right: 4.3%;
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 298px;
        .text_seventhImgUp{
            text-transform: uppercase;
            color: white;
            max-width: 206px;
            min-height: 20px;
            text-align: left;
        }
        .text_seventhImgDown{
            max-width: 276px;
            min-height: 87px;
            text-align: left;
        }
        
    }
    .infoRow_seventhImg{
        margin-top: 294px;
        margin-bottom: 41px;
        margin-right: 2%;
    }
}
.eighthImg {
    width: 100%;
    min-height: 414px;
    background-color: black;
    padding-top: 113px;
    .title_eighthImg {
        max-width: 517px;
        min-height: 84px;
        margin: 0 auto;
        text-align: center;
    }
  
    .underTitle_eighthImg {
        height: 30px;
        margin-bottom: 22px;
    }
    .button_eighthImg {
        margin: 0 auto;
        justify-content: start;
        width: 152px;
        height: 42px;
        flex-direction: row-reverse;
    }
    
}
.footer{
    background-color: black;
    width: 100%;
    min-height: 652px;
    padding-bottom: 92px;
    .footer__upperRow{
        display: flex;
        justify-content: space-between;
        margin-bottom: 36px;
    }
    .leftColumn{
        margin-right: 20px;
    }
    .footer__logo{
        margin-bottom: 20px;
    }
    
    .rightColumn{
        display: flex;
        justify-content: space-between;
    }
    .rightLeft{
        width: 182px;
        margin-right: 55px;
    }
    .rightRight{
        width: 221px;
    }
    .column__title{
        text-transform: uppercase;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 2px;
        text-align: left;
        color: rgba(192, 192, 192, 1); 
        margin-bottom: 10px;       
        
    }
    .column__link a{
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: white;
        margin-bottom: 10px;        
    }
    .column__link a:visited{
        color: white;        
        
    }
}
.footer__text{
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(192, 192, 192, 1);        
}
.footer__middleRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 132px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    .rightColumn__title{
        text-transform: uppercase;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 2px;
        text-align: left;
        color: white;
        margin-bottom: 20px;
    }
    .formRow{
        position: relative;
    }
    .form {
        display: block;
        z-index: 2;
        width: 458px;
        height: 52px;
        background-color: white;
        border-radius: 12px;
        font-size: 20px;
        padding-left: 20px;
        font-family: Poppins;
    }
    .input {
        position: absolute;
        z-index: 3;
        right: 6px;
        bottom: 11px;
        right: 6px;
        width: 63px;
        height: 30px;
        border-radius: 11px;
        background-color: black;
    }

}

.footer_bottomRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    min-height: 180px;
    .icon{
        color: rgba(192, 192, 192, 1); 
        margin-left: 26px;
    }
}

@media(max-width:1239px){
.secondImg{
    .photoGrid {
        padding: 0 16px;
        display: grid;
        grid-template-columns: repeat(1, 576px);
        gap: 16px;
        justify-content: center;
        margin: 0 auto;

    }
    .photoGrid__element {
        position: relative;
        max-width: 576px;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: end;
    }
    .photoGrid__img{
        width: 100%;
        height: 100%;
    }
    .photoGrid__text{
        position: absolute;
        width: 576px;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: end;
        padding-left: 30px;
        padding-bottom: 30px;
    }
    
    .text_gridUp {
        text-transform: uppercase;
        color: white;
        margin-bottom: 10px;
    }
    .text_gridDown {
        max-width: 501px;
        min-height: 60px;
        color: rgba(192, 192, 192, 1);
        text-align: left;
        margin-bottom: 20px;
    }
    
    .button_secondImg {
        width: 143px;
        height: 42px;
        flex-direction: row-reverse;
        .inButton{
            width: 32px;
            height: 32px;
            border-radius: 11px;
            background-color: black;
            margin-right: 6px;
        }
    }
}
    
}
@media (max-width: 900px){
    .header {
        background-color: rgba(24, 24, 24, 1);
        min-height: 90px;
        width: 100%;
        .header__row {
            margin-top: 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .header__logo {
                width: 128px;
                height: 31px;
            }
            .header__right {
                position: relative;
                display: flex;
                justify-content: right;
                font-family: Poppins;
                font-size: 15px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: left;   
                align-items: center;
                width: 680px;       
            }
            .header__link {
                color: white
            }
            .header__list{
                position: absolute;
                top: -5px;
                right: 220px;
                display: flex;
                flex-direction: column;
                opacity: 0;
                transform: translate(0px, -100%);
            }
            .open{
                opacity: 1;
                position: absolute;
                top: -5px;
                right: 220px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                background-color: rgba(24, 24, 24, 1);
                border: 2px solid white;
                border-radius: 14px;
                max-width: 150px;
                height: 150px;
                transition: 700ms;
                transform: translate(0px, 0px);

            }
            .header__burger{
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 5px 0;
                justify-content: space-around;
                width: 40px;
                height: 40px;
                margin-right: 20px;
                border-radius: 14px;
                .header__inburger{
                    width: 35px;
                    height: 3px;
                    background-color: black;
                    border-radius: 1px;
                    transition: 400ms;
                }
            }
            .header__burger.cross{
                justify-content: center;
                .header__inburger:nth-child(2){
                    display: none;
                    transition: 400ms;
                }
                .header__inburger:first-child{
                    margin-bottom: -3px;
                    transform: rotate(45deg);
                    transition: 400ms;
                }
                .header__inburger:last-child{
                    transform: rotate(-45deg);
                    transition: 400ms;
                }
            }
            }
            .header__button {
                width: 155px;
                height: 42px;
                border-radius: 14px;
                background-color: white;
                text-align: center;
                line-height: 20px;
            }
        }
    .firstImg{
        width: 100%;
        min-height: 716px;
        background-image: url("./img/firstImg.png");
        background-position: center;
        background-size: cover;
    }
    .fourthImg {
        display: flex;
        min-height: 540px;
        flex-direction: column;
        .foutrthImg__column {
            width: 100%;
            background-color: black;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 30px;
        }
        .fourthImg__img {
            padding-top: 483px;
            width: 100%;
            background-image: url("./img/camers.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            .infoRow_fourthImg{
                margin-bottom: 40px;
                margin-right: 4%;
            }
        }
       .underTitle_fourthImg{
            font-family: Poppins;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 2px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 6px;
       }
       .title_fourthImg{
            font-family: Poppins;
            font-size: 28px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0em;
            text-align: center;
            color: white;
            margin: 0 auto;
            margin-bottom: 14px;
        
       }
       .text_fourthImg{
            text-align: center;
            margin: 0 auto;
            color: white;
            max-width: 514px;
            margin-bottom: 20px;
       }
       .button_fourthImg {
            margin: 0  auto;
            justify-content: start;
            width: 152px;
            height: 42px;
            flex-direction: row-reverse;
            margin-bottom: 30px;
        .inButton{
            width: 32px;
            height: 32px;
            border-radius: 11px;
            background-color: black;
            margin-right: 6px;
            margin-left: 4px;
        }
        
    }
    }
    .footer{
        .footer__logo{
            display: flex;
            justify-content: center;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        .footer__text{
            text-align: center;
        }
        .footer__upperRow{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .leftColumn{
            margin-bottom: 30px;
        }
        .rightColumn{
            display: flex;
            justify-content: space-between;
        }
        .rightRight{
            width: 182px;
            .column__title{
                text-align: right;
            }
            .column__link{
                text-align: right;
            }
        }
    }
    .footer__middleRow{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        min-height: 132px;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        padding-top: 20px;
        padding-bottom: 20px;
        .middleRow__rightColumn{
            margin-bottom: 20px;
        }
        .rightColumn__title{
            text-transform: uppercase;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 2px;
            text-align: center;
            color: white;
            margin-bottom: 20px;
        }
        .formRow{
            position: relative;
        }
        .form {
            display: block;
            z-index: 2;
            width: 458px;
            height: 52px;
            background-color: white;
            border-radius: 12px;
            font-size: 20px;
            padding-left: 20px;
            font-family: Poppins;
        }
        .input {
            position: absolute;
            z-index: 3;
            right: 6px;
            bottom: 11px;
            right: 6px;
            width: 63px;
            height: 30px;
            border-radius: 11px;
            background-color: black;
        }
    
    }
}
@media(max-width: 700px){
    .sixthImg{
        width: 100%;
        min-height: 500px;
        background-color: black;
        padding-top: 53px;
        .title_fifthImg{
            margin: 0 auto;
            margin-bottom: 15px;
            min-height: 42px;
        }
        .underTitle_secondImg{
            margin: 0 auto;
            min-height: 30px;
            max-width: 441px;
            margin-bottom: 48px;
        }
        .clientRow{
            margin: 0 auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            margin-bottom: 30px;
        }
        .clientRow__list {
            margin: 0 auto;
            width: 128px;
    
        }
        .client {
            display: block;
            width: 128px;
            height: 100%;
        }
    }
}
@media(max-width: 600px){
    .secondImg{
        .photoGrid {
            padding: 0 16px;
            display: grid;
            grid-template-columns: repeat(1, 300px);
            gap: 16px;
            justify-content: center;
            margin: 0 auto;
    
        }
        .photoGrid__element {
            position: relative;
            max-width: 300px;
            height: 312px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: end;
        }
        .photoGrid__img{
            width: 100%;
            height: 100%;
        }
        .photoGrid__text{
            position: absolute;
            max-width: 100%;
            min-height: 600px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: end;
            padding: 30px;
            
        }
        
        .text_gridUp {
            text-transform: uppercase;
            color: white;
            margin-bottom: 10px;
        }
        .text_gridDown {
            max-width: 501px;
            min-height: 60px;
            color: rgba(192, 192, 192, 1);
            text-align: left;
            margin-bottom: 20px;
        }
        
        .button_secondImg {
            width: 143px;
            height: 42px;
            flex-direction: row-reverse;
            .inButton{
                width: 32px;
                height: 32px;
                border-radius: 11px;
                background-color: black;
                margin-right: 6px;
            }
        }
    }
    .footer_bottomRow{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        background-color: black;
        min-height: 180px;
        .icon{
            margin-left: 26px;
        }
    }    
}
@media(max-width: 500px){
    .footer{
        .footer__logo{
            display: flex;
            justify-content: center;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        .footer__text{
            margin: 0 auto;
        }
        .footer__upperRow{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .leftColumn{
            margin-bottom: 30px;
        }
        .rightColumn{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }
        .rightLeft{
            margin-bottom: 30px;
            margin-right: 0;
            .column__title{
                text-align: center;
            }
            .column__link{
                text-align: center;
            }
        }
        .rightRight{
            width: 182px;
            .column__title{
                text-align: center;
            }
            .column__link{
                text-align: center;
            }
        }
    }
    .footer__middleRow{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 132px;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        .rightColumn__title{
            text-transform: uppercase;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 2px;
            text-align: left;
            color: white;
            margin-bottom: 20px;
        }
        .formRow{
            position: relative;
        }
        .form {
            display: block;
            z-index: 2;
            width: 300px;
            height: 52px;
            background-color: white;
            border-radius: 12px;
            font-size: 20px;
            padding-left: 20px;
            font-family: Poppins;
        }
        .input {
            position: absolute;
            z-index: 3;
            right: 6px;
            bottom: 11px;
            right: 6px;
            width: 63px;
            height: 30px;
            border-radius: 11px;
            background-color: black;
        }
    
    }
}

@media(max-width: 400px){
    .header {
        background-color: rgba(24, 24, 24, 1);
        min-height: 90px;
        width: 100%;
        .header__row {
            margin-top: 24px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            .header__logo {
                width: 128px;
                height: 31px;
                margin-bottom: 20px;
            }
            .header__right {
                position: relative;
                display: flex;
                justify-content: center;
                font-family: Poppins;
                font-size: 15px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: left;   
                align-items: center;
                width: 100%;     
                margin-bottom: 20px;  
            }
            .header__link {
                color: white
            }
            .header__list{
                position: absolute;
                top: -5px;
                display: flex;
                flex-direction: column;
                opacity: 0;
                transform: translate(0px, -100%);
            }
            .open{
                opacity: 1;
                position: absolute;
                top: -5px;
                left: 24%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                background-color: rgba(24, 24, 24, 1);
                border: 2px solid white;
                border-radius: 14px;
                max-width: 150px;
                height: 150px;
                transition: 700ms;
                transform: translate(0px, 0px);
            }
            .header__burger{
                position: relative;
                right: 0;
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 5px 0;
                justify-content: space-around;
                width: 40px;
                height: 40px;
                margin-right: 0px;
                border-radius: 14px;
                .header__inburger{
                    width: 35px;
                    height: 3px;
                    background-color: black;
                    border-radius: 1px;
                    transition: 400ms;
                }
            }
            .header__burger.cross{
                justify-content: center;
                position: relative;
                right: 35%;
                transition: 900ms;
                .header__inburger:nth-child(2){
                    display: none;
                    transition: 400ms;
                }
                .header__inburger:first-child{
                    margin-bottom: -3px;
                    transform: rotate(45deg);
                    transition: 400ms;
                }
                .header__inburger:last-child{
                    transform: rotate(-45deg);
                    transition: 400ms;
                }
            }
            }
            .header__button {
                display: none;
                width: 155px;
                height: 42px;
                border-radius: 14px;
                background-color: white;
                text-align: center;
                line-height: 20px;
            }
        }
    .firstImg{
        width: 100%;
        min-height: 716px;
        background-image: url("./img/firstImg.png");
        background-position: center;
        background-size: cover;
        .undertitle__firstImg {
            text-transform: uppercase;
            margin: 0 auto;
            margin-top: 366px;
            margin-bottom: 1px;
        }
    }
    .thirdImg{
        position: relative;
        width: 100%;
        min-height: 600px;
        background-image: url("./img/thirdImg.jpg");
        background-position: center;
        background-size: cover;
        padding-top: 260px;
        .thirdImg__wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 298px;
            .text_thirdImgUp{
                text-transform: uppercase;
                color: white;
                width: 206px;
                height: 20px;
                text-align: center;
            }
            .text_thirdImgDown{
                width: 298px;
                height: 60px;
                text-align: center;
            }
            
        }
        .infoRow_thirdImg{
            margin-top: 284px;
            margin-bottom: 41px;
            margin-right: 2%;
        }
    }
    .fifthImg{
        position: relative;
        width: 100%;
        min-height: 600px;
        background-image: url("./img/fifthImg.jpg");
        background-position: center;
        background-size: cover;
        padding-top: 260px;
        padding-left: 20px;
        padding-right: 20px;
    
        .fifthImg__wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 298px;
            .text_fifthImgUp{
                text-transform: uppercase;
                color: white;
                width: 206px;
                height: 20px;
                text-align: center;
            }
            .text_fifthImgDown{
                width: 298px;
                height: 60px;
                text-align: center;
            }
            
        }
        .infoRow_fifthImg{
            margin-top: 284px;
            margin-bottom: 41px;
            margin-right: 2%;
        }
    }
    .seventhImg{
        position: relative;
        width: 100%;
        min-height: 600px;
        background-image: url("./img/seventhImg.jpg");
        background-position: center;
        background-size: cover;
        padding-top: 260px;
        padding-left: 20px;
        padding-right: 20px;
    
        .seventhImg__wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 298px;
            .text_seventhImgUp{
                text-transform: uppercase;
                color: white;
                width: 206px;
                height: 20px;
                text-align: center;
            }
            .text_seventhImgDown{
                width: 298px;
                height: 60px;
                text-align: center;
            }
            
        }
        .infoRow_seventhImg{
            margin-top: 294px;
            margin-bottom: 41px;
            margin-right: 2%;
        }
    }
}
@media(any-hover: hover){
    a:hover{
        text-shadow: 0px 0px 5px white;
    }
    .button:hover{
        box-shadow: 0px 0px 8px white;
        text-shadow: 0px 0px 5px black;
        font-family: Poppins;
        border-radius: 14px;
        background-color: white;
        font-size: 15px;
        line-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .button:active{
        box-shadow: 0px 0px 8px black inset;
        text-shadow: 0px 0px 8px black;
        font-family: Poppins;
        border-radius: 14px;
        background-color: white;
        font-size: 15px;
        line-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sixthImg{
        .client >img:hover {
            display: block;
            width: 148px;
            height: 100%;
            position: relative;
            right: 10px;
        }
    } 
    .footer_bottomRow{
        .icon>svg:hover{
            color: white;
        }
    }   
}